* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.columns {
  display: flex;
  
}

#playerScores {
display: flex;
justify-content: space-around;
padding-left: 30px;
padding-right: 30px;
}

.biggerGrid{
  display: flex;
  border: 0px solid black;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  margin: 0;
}

.biggerGrid div {
  display: flex;
  width: 33%;
  height: 33%;
  /* border:1px solid black; */
  flex-wrap: wrap;
  padding: 20px;
}

h4 {
  padding: 1px;
}

.blue {
  background-image: url(./media/Heavy_red__x_.png);
}

.red {
  background-image: url(./media/O_emojii.png);
}

.cero {
  border-right: 3px solid black;
}

.one {
  border-left: 3px solid black;
  border-right:3px solid black;
  
}

.two {
  border-left: 3px solid black;
  
}

.three {
  border-top: 3px solid black;
  border-right: 3px solid black;
  padding: 0;
}

.four {
  border: 3px solid black;
  border-bottom:  0px;
}

.five {
  border-top: 3px solid black;
  border-left: 3px solid black;

}

.six {
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.seven {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.eight {
  border-left: 3px solid black;
  border-top: 3px solid black;
}